/* NEUE MONTREAL */
@font-face {
  font-family: "Neue Montreal";
  src:
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Thin.woff2")
      format("woff2"),
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Thin.woff") format("woff"),
    url("/assets/fonts/neueMontreal/ttf/PPNeueMontreal-Thin.ttf")
      format("truetype"),
    url("/assets/fonts/neueMontreal/otf/PPNeueMontreal-Thin.otf")
      format("opentype");
  font-weight: 100;
  font-display: block;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Light.woff2")
      format("woff2"),
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Light.woff") format("woff"),
    url("/assets/fonts/neueMontreal/ttf/PPNeueMontreal-Light.ttf")
      format("truetype"),
    url("/assets/fonts/neueMontreal/otf/PPNeueMontreal-Light.otf")
      format("opentype");
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Book.woff2")
      format("woff2"),
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Book.woff") format("woff"),
    url("/assets/fonts/neueMontreal/ttf/PPNeueMontreal-Book.ttf")
      format("truetype"),
    url("/assets/fonts/neueMontreal/otf/PPNeueMontreal-Book.otf")
      format("opentype");
  font-weight: 350;
  font-display: block;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Regular.woff2")
      format("woff2"),
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Regular.woff")
      format("woff"),
    url("/assets/fonts/neueMontreal/ttf/PPNeueMontreal-Regular.ttf")
      format("truetype"),
    url("/assets/fonts/neueMontreal/otf/PPNeueMontreal-Regular.otf")
      format("opentype");
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Medium.woff2")
      format("woff2"),
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Medium.woff")
      format("woff"),
    url("/assets/fonts/neueMontreal/ttf/PPNeueMontreal-Medium.ttf")
      format("truetype"),
    url("/assets/fonts/neueMontreal/otf/PPNeueMontreal-Medium.otf")
      format("opentype");
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Semibold.woff2")
      format("woff2"),
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Semibold.woff")
      format("woff"),
    url("/assets/fonts/neueMontreal/ttf/PPNeueMontreal-Semibold.ttf")
      format("truetype"),
    url("/assets/fonts/neueMontreal/otf/PPNeueMontreal-Semibold.otf")
      format("opentype");
  font-weight: 600;
  font-display: block;
}

@font-face {
  font-family: "Neue Montreal";
  src:
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Bold.woff2")
      format("woff2"),
    url("/assets/fonts/neueMontreal/web/PPNeueMontreal-Bold.woff") format("woff"),
    url("/assets/fonts/neueMontreal/ttf/PPNeueMontreal-Bold.ttf")
      format("truetype"),
    url("/assets/fonts/neueMontreal/otf/PPNeueMontreal-Bold.otf")
      format("opentype");
  font-weight: 700;
  font-display: block;
}

/* NEUE MONTREAL */

/* EDITORIAL NEW */
@font-face {
  font-family: "Editorial New";
  src: url("/assets/fonts/editorialNew/EditorialNew-Variable.ttf")
    format("truetype");
  font-weight: 100 900; /* or the correct range supported by your variable font */
  font-display: block;
}

/* EDITORIAL NEW */
